body
{
	background-color: #000000;
	font-family: monospace;
	text-shadow: 1px 1px #010101;
	font-size: 12px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.base_info
{
	display: none;
}

p.datum_container
{
	display: inline;
	margin-top: 3px;
	margin-bottom: 3px;
}
p.datum
{
	display: inline;
}

#qualificationsA
{
	display: none;
}

#qualificationsB
{
	display: none;
}

a{color:#E3A024;}
a:link {text-decoration:underline;}
a:visited {text-decoration:underline;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

#map_container
{
	margin: auto;
	text-align:center;
}
#hud_info_popup
{
	position: absolute;
	top: 10%;
	right: 5%;
	height: auto;
	padding: 10px 10px 10px 10px;
	width: 25%;
	
	color: #E3A024;
	background-color: rgba(0, 0, 0, .66);
	border-style: solid;
	border-style: solid;
	border-color: #E3A024;
	display: none;
}
#hud_outline
{
	position: absolute;
	top: 5%;
	right: 5%;
	height: 85%;
	width: 90%;
	color: #E3A024;
	border-style: solid;
}


